header{
    width: 100px;
    color:rgb(19, 19, 0);
    display:flex;



}

#apresentacao{
    margin: 90px;
    height:300px;

    background-color:rgb(207, 255, 192);
    display: flex;
    justify-content: center;
    gap: 100px;
}

#sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divisao{
    height: 2px;
    width: 50px;
    background-color: #a4a4a4;
}

#btnDownload{
    margin-top:30px;
    background-color: #9bc97a;
    width:200px;
    height:40px;
    border: 100px;
}
#btnDownload:hover{
    background-color: #ffde4d;
}

#galinha{
width:300px;
height:300px;
}

#tituloJogo{
    width:1000px;
    height: 50px;
}

#obs{
    width: 500px;
   height: 120px;
   text-align:justify;
}

#img1{
    background-color: rgb(187, 106, 35);;
    border-radius: 100px;
    width:80px;
    height: 80px;
    margin: 150px;
}
#img2{
    background-color:rgba(27, 126, 171, 0.549);
    width: 80px;
    height: 80px;
    margin:150px;
    border-radius:100px;
}   
#img3{
    background-color:rgba(16, 3, 3, 0.227);
    width:80px;
    height:80px;
    margin: 150px;
    border-radius:100px;
}
#Personagem{
    background-color: aqua;
    width:20px;
    height:20px;

}

#descricoes{
    display:flex;
    align-items:center;
    text-align: center;
   
    
}
#descriçao{
        width: 200px;
        height:100px;
        margin-top:50px;
        }
#Jogo{
    background-color: rgb(36, 156, 94);
    text-align:center;
    align-items:center;
    height:100px;
    width:100px;
}

div{
    background-color: blueviolet;
    width:200px;
    height:80px;
    border-radius:40px;
}
#quad{
    background-color: aquamarine;
    width:200px;
    height:80px;
}
#quad1{
    background-color: blue;
    width:200px;
    height:80px;
}
