header{
    width: 100px;
    color:rgb(19, 19, 0);
    display:flex;



}

#titulo{
    margin: 90px;
    width:100vw;
    height:300px;
   

    background-color:rgb(207, 255, 192);
}
#btnDownload{
    background-color: rgb(59, 113, 160);
    width:20px;
    height:20px;
    border: 100px;
    top: 5005px;
    left: 80px;
    display:flex;
}
#galinha{
width:300px;
height:300px;
}

#nome{
    width:1000px;
    height: 50px;
}
#obs{
    width: 500px;
   height: 10px;
}

#clas1{
    background-color: rgb(187, 106, 35);;
    border-radius: 100px;
    width:80px;
    height: 80px;
    margin: 150px;
}
#clas2{
    background-color:rgba(27, 126, 171, 0.549);
    width: 80px;
    height: 80px;
    margin:150px;
    border-radius:100px;
}   
#clas3{
    background-color:rgba(16, 3, 3, 0.227);
    width:80px;
    height:80px;
    margin: 150px;
    border-radius:100px;
}
